data/results/
sas_rmc/__pycache__/
*.xlsx
!data/CoreShell_Simulation_Input.xlsx
!data/CoreShell_F20_pol.xlsx
sas_rmc.egg-info/
requirements.txt
tests/__pycache__/
.vscode/
.vscode/settings.json
.pytest_cache/


tests/array_testing.py
tests/galaxi.py
tests/dumbbell_test.py
sas_rmc/particles/__pycache__/
sas_rmc/shapes/__pycache__/
sas_rmc/factories/__pycache__/
*.yaml
dev_config.txt
Untitled.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
Untitled1.ipynb
.ipynb_checkpoints/

